###############################################################
  Registry cleanup summary report:
    Global process definitions:
      Registry cleanup process mode: {{ registry_cleanup_process_mode }}
      Force registry garbage collection: {{ garbage_collector_enabled | lower }}
      Keep tags digests per repository: {{ managed_repository_keep_tags | int }}
      Cleanup batch collection size: {{ managed_cleanup_batch_size | int }}
    Registry repositories inspection:
      Selected repositories from catalog: {{ filtered_reposortories_list | list | length }}
      Repositories having tags to remove: {{ extracted_managed_repos_tags | list | length }}
    Registry cleanup results:
      Repositories digests collected total: {{ images_digests_removal_total | int }}
      Repositories digests removal success: {{ images_digests_removal_stats.success | int }}
{% if (images_digests_removal_stats.failed | int) > 0 %}
      * Repositories digests removal failed: {{ images_digests_removal_stats.failed | int }}
{% else %}
      Repositories digests removal failed: {{ images_digests_removal_stats.failed | int }}
{% endif %}
###############################################################
{% if (images_digests_removal_stats.failed | int) > 0 %}
* Note:
    Assuming server allows tags removal;
    Failed removals doesn't mean failure in general,
      the tag may already been removed by previous execution,
      or the tag was dereferenced by rival tag digest removal.
    Garbage collector execution (always) solves the problem.
{% endif %}